@import "../../styles/index";

.chat-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
  width: calc(100% - #{2 * $size-wrapper-margin});
  margin: 0 auto;

  &__title {
    @include type($font-size: 2.4rem, $font-weight: 700);
    flex: 0 0 auto;
    margin: 24px 0;
    text-align: center;
  }

  &__message-list {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__message-list-item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    flex: 0 0 auto;
    margin: 16px 0;
  }
}
.spinner-sector {
  position: absolute;
  left: 40%;
  width: 20%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 18px solid transparent;
  mix-blend-mode: overlay;
  animation: rotate var(--duration) var(--timing) infinite;
}
.spinner-sector-red {
  border-top-color: red;

  --duration: 1s;
  --timing: ease-in-out;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
p {
  font-size: 28px;
}
.spinner-sector-green {
  border-left-color: green;

  --duration: 1.5s;
  --timing: ease-in;
}
.spinner-sector-green {
  border-right-color: blue;
  --duration: 2s;
  --timing: ease-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
