$color-text: orangered;
$color-theme: #a7c4c2;
$color-theme-inverted: #000;
$font-family: "Poppins", sans-serif, 700;
$background-image: url(../../public/Background.jpg);
$size-radius-small: 8px;
$size-radius-large: 100%;
$size-rem: 1.6rem;
$size-wrapper-margin: 16px;
