$color-text: #000;
$color-theme: #a7c4c2;
$color-theme-inverted: #000;
$background-color: #cdd3ce;

$font-family: "Poppins", sans-serif, 700;
$size-radius-small: 8px;
$size-radius-large: 100%;
$size-rem: 2rem;
$size-wrapper-margin: 16px;
