.message-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &__input {
    margin-right: 4px;
    display: block;
    width: 70%;
  }

  &__button {
    flex: 0 0 auto;
    display: inline-block;
  }
}
